{% extends 'base.html.twig' %}

{% block title %}Edit DynamicForm{% endblock %}

{% block body %}
    <h1>Edit DynamicForm</h1>

    {{ include('dynamic_form/_form.html.twig', {'button_label': 'Update'}) }}

    {# include('dynamic_form/_delete_form.html.twig') #}
{% endblock %}
