{% extends 'base.html.twig' %}

{% block title %}New DynamicForm{% endblock %}

{% block body %}
    <h1>Create new DynamicForm</h1>

    {{ include('dynamic_form/_form.html.twig') }}

{% endblock %}
