<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
    <tr>
        <td><b>Dear {{ firstName }}</b>
            <p>This is to inform you that, Your account with Webpuppies form builder has been created successfully.</p>
            <p> Your password is '{{ password }}'</p>
            <b>- Thanks (Webpuppies form builder team)</b> </td>
    </tr>
    </tbody>
</table>
