{% extends 'error-base.html.twig' %}

{% block title %} Error {% endblock %}
{% block body %}
    
    <div class="card">
        <div class="card-body">

            <h1>Page not found</h1>
            <p> Requested page not found. 
            
            Visit
                <a href="{{ path('homepage') }}">form listing page</a>
            to continue with our application
            </p>

             <p> - Webpuppies form builder (2000-2020) </p>

        </div>
    </div>
    
{% endblock %}