<div class="col-3">
    <div class="border p-1 mt-1">
        <div class="form-row">
            <div class="col-11">
                {{ choice.choice }}
            </div>
            {# <div class="col-1">
                <button type="button" data-choice={{ choice.id }} class="close delete-choice"><span aria-hidden="true">&times;</span></button>
            </div> #}
        </div>
    </div>
</div>